@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

/* Configurações Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  margin: 10px;
}

header {
  width: 100%;
}

article {
  display: flex;
}

div {
  width: 700px;
  margin: 0 auto;
}

/* Configurações Header */
.header-container {
  width: 100vw;
}

.flex {
  justify-content: flex-end;
}

.logo a {
  display: inline-block;
  width: 30vh;
  font-size: 2em;
  text-transform: uppercase;
  font-family: "EB Garamond", serif;
}

#nav-header {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

.nav-menu li a {
  position: relative;
  display: inline-block;
  padding: 0.85em 1.5em;
  color: black;
}

.nav-menu li a.clicked {
  color: gray;
}

.nav-menu li a.clicked::before,
.nav-menu li a.clicked::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: calc(100% - 40px);
  height: 2px;
  background-color: gray;
  transform: translateX(-50%);
}

.nav-menu li a.clicked::before {
  margin-left: -10px;
}

.nav-menu li a.clicked::after {
  margin-left: 10px;
}

.nav-menu li a .nav-text {
  transition: 0.2s all ease-in-out;
}

.nav-menu li a .nav-text:hover {
  color: black;
}

.nav-menu li a:not(.clicked) .nav-text:hover {
  color: gray;
}

.nav-menu li a:not(.clicked) .nav-text:hover::before,
.nav-menu li a:not(.clicked) .nav-text:hover::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: calc(100% - 40px);
  height: 2px;
  background-color: gray;
  transform: translateX(-50%);
}

.flex {
  display: flex;
}

.hamburger {
  width: 10%;
  align-self: flex-end;
  margin: 0;
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: black;
}

/*Configurações Main*/
.main-container {
  display: flex;
  justify-content: center;
}

#main-article {
  width: 700px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  text-align: center;
}

#main-article .title {
  font-size: 2em;
}

#main-img {
  border: 3px solid gray;
  margin: 15px;
}

.sub-article {
  font-size: 0.9em;
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 15px;
}

#articles-container {
  width: 40%;
}

/*Configurações Post Section*/

#post-container {
  margin-top: 30px;
}

#post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline;
  float: left;
}

#post p.person-name {
  padding-top: 0.5em;
  margin-left: 4.9em;
  padding-bottom: 0;
}

.date {
  margin-left: 0.7em;
}

#post p {
  padding-bottom: 10px;
  text-align: justify;
}

.icone-facebook,
.icone-twitter {
  width: 30px;
  height: 30px;
}

#nav-post {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;  
  position: relative;
  top: -60px;

}

#nav-post ul li {
  display: inline;
}

#nav-post ul li button {
  border-radius: 8px;
  padding: 3px 25px;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
#nav-post ul li button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#about-me {
  margin-bottom: 50px;
}

#about-me span {
  display: block;
  padding-top: 0.5em;
  margin-left: 6em;
  font-size: 0.9em;
}

/*Configuraçoes Article Section*/
.three-collums {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.three-collums li {
  padding: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.2s ease-in-out;
}

.three-collums li:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/**/

.comment-container {
  width: 100%;
  border: 1px solid gray;
  margin: 50px 0;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 80px;
  box-shadow: 0 0 2px 1px gray;
}

.comment-container p {
  text-align: left;
  font-size: 1.5em;
}

.comment-form input, .comment-form textarea{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  outline: none;
  font-size: 13px;
  border: 1px solid #ddd;
  color: #777;
}

.comment-form button {
  margin: 10px 0;
  border: none;
  background-color: #d0d0d0;
  padding: 10px;
  font-size: 18px;
  border-radius: 3px;
  color: #444;
  transition: .2s ease-in-out;
}

.comment-form button:hover {
  color: white;
  background-color: #444;
}

.comment-card .person-icon {
  transform: scale(.9);
}

.comment-card {
  display: grid;
  grid-template-columns: 10% auto;
  border-bottom: 1px solid gray ;
  padding: 15px 0;
  align-items: center;
}

.comment-info {
  display: flex;
  flex-direction: column;
}

.comment-info .nickname {
  font-size: .9em;
}

.comment-info .comment {
  margin: 5px 0;
}

/* Configurações newsletter */
#newsletter-container {
  width: 100;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#newsletter-container form {
  border: 1px solid black;
  border-top: 10px solid black;
  text-align: center;
  padding: 25px;
}

#newsletter-container form label {
  font-size: 2rem;
}

#newsletter-container #submit {
  margin-top: 1em;
}

#newsletter-container form input {
  padding: 1.03em;
  border: 1px solid black;
}

#newsletter-container form p {
  font-size: 0.9em;
}

#newsletter-container form button {
  background: black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.1em;
  border: none;
  margin-left: -4px;
}

#newsletter-container form button:hover {
  background-color: rgb(40, 40, 40);
}

/* Configurações Footer */
#footer-container {
  width: 100%;
  background-color: black;
}

footer {
  background: url(../img/faixaFooter.png) repeat-x;
  display: flex;
  height: 350px;
  text-align: center;
  color: white;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
}

footer p {
  margin-top: 30px;
  font-size: 0.9em;
  text-align: center;
}

footer p#rights {
  padding-bottom: 15px;
  padding-top: 15px;
}

footer ul {
  margin-top: 30px;
  margin-bottom: 10px;
}

footer ul li {
  padding: 20px;
  display: inline;
  align-items: center;
}

footer ul li a {
  font-size: 0.9em;
  color: white;
  text-decoration: underline;
  transition: 0.1s all ease-in-out;
}

footer ul li:hover a {
  color: burlywood;
  cursor: pointer;
}

/*Media query*/

@media (max-width: 900px) {
  div {
    width: 90%;
  }
  
  #main-article .title {
    text-align: justify;
    font-size: 1.3em;
  }

  header#main {
    background-color: whitesmoke;
    position: fixed;
    z-index: 100;
  }

  footer {
    height: 300px;
  }

  #main-article {
    margin-top: 10vh;
    width: 80%;
  }

  #main-article a {
    width: 90%;
  }

  #main-article img {
    width: 100%;
  }

  #articles-container {
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translatey(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translatey(-8px) rotate(-45deg);
  }

  #nav-header {
    justify-content: space-between;
  }

  .nav-menu {
    position: fixed;
    left: 0;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    z-index: -1;
  }

  .nav-menu.active {
    top: 60px;
  }

  .nav-menu li{
    margin: 7px 0 ;
  }

  .nav-text {
    opacity: 0;
    border-bottom: 1px solid gray;
    
  }

  .nav-text.active {
    animation: delay 1s forwards;
  }

  @keyframes delay {
    to {
      opacity: 1;
    }
  }

  .nav-menu li a.clicked::before,
  .nav-menu li a.clicked::after,
  .nav-menu li a:not(.clicked) .nav-text:hover::before,
  .nav-menu li a:not(.clicked) .nav-text:hover::after {
    width: 0;
  }
  
  #post-container {
    width: 100%;  
  }

  #post-container header{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #nav-post{
    justify-content: center;
    top: 0;
  }

  #nav-post ul {
    clear: both;
    margin: 15px 0;
    display: flex;
  }

  #nav-post ul li {
    display: flex;
  }

  #nav-post ul li button{
    padding: 0 15vw;
  }

  .post-div .person-icon, .post-div .person-name, .post-div .date {
    position: relative;
    left: 5vw;
  }

  #post p , #post small {
    width: 80%;
  }

  #about-me img.person-icon{
    position: relative;
    left: 2vw;
  }

  #about-me span {
    padding: 0;
  }

  .three-collums {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .three-collums li {
    margin-bottom: 25px;
  }

  .three-collums li a img {
    width: 85%;
  }

  .three-collums li:hover {
    transform: unset;
  }

  .comment-container {
    width: 80%;
    margin-left: 10%;
  }

  .comment-form button {
    width: 100%;
  }

  .comment-card{
    width: 100%;
    grid-template-columns: 20% auto;
    box-shadow: 0 0 3px 0;
    margin: 6px;
    justify-items: end;
  }

  #newsletter-container form{
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  #newsletter-container form input {
    width: 200px;
  }

  footer p {
    margin: 0 15px;
  }
}

